* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.chat-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.chat-box {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px;
  height: 400px;
  overflow-y: auto;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chat-message {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 20px;
  max-width: 100%;

  word-wrap: break-word;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.chat-message.user {
  background-color: #8aa5fc;
  align-self: flex-end;
  text-align: right;
  border-bottom-right-radius: 0;
  font-size: 18px;
}

.chat-message.bot {
  background-color: #ffd3b1;
  align-self: flex-start;
  text-align: left;
  border-bottom-left-radius: 0;
  font-size: 18px;
}

.chat-message img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-message.user img {
  order: 2;
  margin-left: 10px;
  margin-right: 0;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.input-container input {
  width: 82%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 19px;
}

.input-container button {
  width: 17%;
  padding: 1px;
  border-radius: 8px;
  border: none;
  background-color: #656464;
  color: white;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif   ;
 /* Replace with your desired font family */
  font-size: 19px;
}

.sample-questions {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-size: 19px;
}

.sample-questions h3 {
  display: block;
  margin-bottom: 10px;
  text-align:center;
  
}

.sample-questions button {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}

.sample-questions button:hover {
  background-color: #ffffff;
}

b {
  font-weight: bold;
  color: #000000;
}

i {
  font-style: italic;
  color: #000000;
}