.header {
  margin-top: 5px;
  margin-bottom: 20px;
  background-image: url('C:\Users\user\Downloads\WhatsApp Image 2024-08-26 at 13.44.50.jpeg'); /* Path to your background image */
  background-size: cover; /* Ensure the image covers the entire header */
  background-position: center; /* Center the image */
  height: 67vh; /* Full height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: black; /* White text */
  text-align: center;
}

.headerContainer {
  margin-top: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerTitle {
  font-size: 48px;
  margin-bottom: 20px;
}

.headerDesc {
  font-size: 24px;
  margin-bottom: 30px;
}

.headerBtn {
  padding: 15px 30px;
  font-size: 24px;
  background-color: #4CAF50; /* Button color */
  color: white; /* Text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.headerBtn:hover {
  background-color: #45a049; /* Button color on hover */
}
